* {
    margin: 0;
    padding: 0;
}
html{
    font-size: map-get($estilohtml, letra);
    font-family: map-get($estilohtml, tipoletra);
}

ul{
    list-style-type: none; /*Sacamos los bullets de las listas*/
}


.logoContacto{
    background-color: #222121;
}

.headerContacto{
    @include flexbox(flex, row, space-around);
    background-color: #222121;

    li{
        display: inline-block;
        font-size: $tamañoLinks;
        padding-right: 10px;
        padding-top: 20px;
    
        a{
            text-decoration: none; /*Sacamos el subrayado en los enlaces*/
            color: white;
        &:hover{
            border:1px solid white;
            padding: 10px;
            border-radius: 5px;
            color: red;
            }
        }
    }
    
}

/* Formulario */

.contacto{
    @include flexbox(flex, column, center);
    color: white;
    background-color: #000000;

    h1{
        display: flex;
        justify-content: center;
        padding-top: 80px;
        padding-bottom: 20px;
        font-size: $letraGrande;
    }

    p{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        font-size: $parrafo; 
    }

    form{
        text-align: center;    
    }
}

.nombre{
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.correo{
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.mensaje{
    width: 50%;
    height: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.enviar{
    width: 50%;
    padding: 8px;
    margin-bottom: 100px;
    border-radius: 10px;
}
/* Footer Contacto*/

.footer{
    color: white;
    background-color: #161515;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

    h2{
        display: flex;
        justify-content: flex-start;
        font-size: 1.5rem;
        margin-bottom: 15px;
        padding-left: 100px;
        width: 70%;
        font-size: $titulo;
    }

    p{
        display: flex;
        justify-content: flex-start;
        padding-left: 100px;
        margin-bottom: 15px;
        width: 70%;
        font-size: $parrafo;
        flex-wrap: wrap;
    }

}

.api{
    background-color: #161515;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;

    h2{
        display: flex;
        justify-content: flex-start;
        padding-left: 100px;
        margin-bottom: 15px;
        font-size: $titulo;
    }

    ul{
        display: flex;
        justify-content: flex-start;
        padding-left: 100px;
        font-size: $tamañoLinks;
        a{
            text-decoration: none; /*Sacamos el subrayado en los enlaces*/
            color: white;
        &:hover{
            border:1px solid white;
            padding: 10px;
            border-radius: 5px;
            color: red;
            }
        }

    }

}

@media screen and (max-width:500px){
    .headerContacto li{
       display: block;
       text-align: center; 
    }
}