* {
    margin: 0;
    padding: 0;
}
html{
    font-size: map-get($estilohtml, letra);
    font-family: map-get($estilohtml, tipoletra);
}

ul{
    list-style-type: none; /*Sacamos los bullets de las listas*/
}


.logoContacto{
    background-color: #222121;
    padding: 10px;
}

.navbar{
    display: none;
  }

.headerContacto{
    @include flexbox(flex, row, space-around);
    background-color: #222121;
    align-items: center;

    li{
        display: inline-block;
        font-size: $Links;
        padding-right: 10px;
        padding-top: 20px;
    
        a{
            text-decoration: none; /*Sacamos el subrayado en los enlaces*/
            color: white;
        &:hover{
            border:1px solid white;
            padding: 10px;
            border-radius: 5px;
            color: red;
            }
        }
    }
    
}

/* Formulario */

.contacto{
    @include flexbox(flex, column, center);
    color: white;
    background-color: #000000;

    h1{
        display: flex;
        justify-content: center;
        padding-top: 80px;
        padding-bottom: 20px;
        font-size: $letraGrande;
    }

    p{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        font-size: $parrafo; 
    }

    form{
        text-align: center;    
    }
}

.nombre{
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.correo{
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.mensaje{
    width: 50%;
    height: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.enviar{
    width: 50%;
    padding: 8px;
    margin-bottom: 100px;
    border-radius: 10px;
}
/* Footer Contacto*/

.footer{
    color: white;
    background-color: #161515;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

    h2{
        display: flex;
        justify-content: flex-start;
        font-size: 1.5rem;
        margin-bottom: 15px;
        padding-left: 20px;
        width: 70%;
        font-size: $titulo;
    }

    p{
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        margin-bottom: 15px;
        width: 70%;
        font-size: $parrafo;
        flex-wrap: wrap;
    }

}

.api{
    background-color: #161515;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;

    h2{
        display: flex;
        justify-content: flex-start;
        padding-left: 100px;
        margin-bottom: 15px;
        font-size: $titulo;
    }

    ul{
        display: flex;
        justify-content: flex-start;
        padding-left: 100px;
        font-size: $Links;
        a{
            text-decoration: none; /*Sacamos el subrayado en los enlaces*/
            color: white;
        &:hover{
            border:1px solid white;
            padding: 10px;
            border-radius: 5px;
            color: red;
            }
        }

    }

}
/* Media Queries para pagina producto */
@media screen and (max-width:991px){
    .logoContacto{
      @include flexbox(flex, row, center);
    }
  }

@media screen and (max-width:768px){
    .api{
        h2{
        padding-left: 20px;
      }
        ul{
        padding-left: 20px;
      }
      } 
}

@media screen and (max-width:575px){
    .navbar{
        display: flex;
        background-color: #222121;
      }
    
      .navbar-toggler{
        border-color: white;
      }
    
      .navbar-toggler-icon{
        color: white !important;
      }
    
      .navbar-nav a{
        color: white;
      }
    
      .navbar-nav li{
        text-align: center;
      }
    
      .navbar-collapse {
        position: absolute;
        top: 114px;
        right: 0;
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        background-color: #222121;
        width: 100vw;
      }
    
      .headerContacto ul{
        display: none;
      }

    .nombre{
        width: 70%;
    }
    .correo{
        width: 70%;
    }
    
    .mensaje{
        width: 70%;
    }
    .enviar{
        width: 70%;
    }
}