/* Pagina Equipo */

.logoEquipo{
    background-color: #222121;
    padding: 10px;
  }

  .navbar{
    display: none;
  }
  
  
  .headerEquipo{
    @include flexbox(flex, row, space-around);
    background-color: #222121;
    align-items: center;
  
    li{
    display: inline-block;
    font-size: $Links;
    padding-right: 10px;
    padding-top: 20px
  }
}
  
  .tituloEquipo{
    @include flexbox(flex, column, center);
    color: white;
    background-color: #000000;
  
    h1{
    @include flexbox(flex, row, center);
    padding-bottom: 30px;
    padding-top: 50px;
    font-size: $letraGrande;
  }
    p{
    @include flexbox(flex, row, center);
    text-align: center;
    padding: 0px 50px 100px 50px;
    font-size: $parrafo;
  }
}
  
  /* Primera fila */
  .juampi{
    background-color: #000000;
    padding-bottom: 30px;
  
    img{
    display: flex;
    width: 50%;
    border-radius: 100px;
    margin: auto;
  }
    h2{
    color: white;
    text-align: center;
    padding-top: 15px;
    font-size: $titulo;
  }
    p{
    color: gray;
    text-align: center;
    font-size: $parrafo;
  }
}
  
  .caro{
    background-color: #000000;
    padding-bottom: 30px;

    img{
    display: flex;
    width: 50%;
    border-radius: 100px;
    margin: auto;
  }
    h2{
    color: white;
    text-align: center;
    padding-top: 15px;
    font-size: $titulo;
  }
    p{
    color: gray;
    text-align: center;
    font-size: $parrafo;
  }
}
  .nico{
    background-color: #000000;
    padding-bottom: 30px;
  
    img{
    display: flex;
    width: 50%;
    border-radius: 100px;
    margin: auto;
  }
    h2{
    color: white;
    text-align: center;
    padding-top: 15px;
    font-size: $titulo;
  }
    p{
    color: gray;
    text-align: center;
    font-size: $parrafo;
  }
}
  
  /* Segunda Fila */
  .nemo{
    background-color: #000000;
    padding-bottom: 30px;
  
    img{
    display: flex;
    width: 35%;
    border-radius: 100px;
    margin: auto;
  }
    h2{
    color: white;
    text-align: center;
    padding-top: 15px;
    font-size: $titulo;
  }
    p{
    color: gray;
    text-align: center;
    font-size: $parrafo;
  }
}
  .ema{
    background-color: #000000;
    padding-bottom: 30px;
  
    img{
    display: flex;
    width: 35%;
    border-radius: 100px;
    margin: auto;
  }
    h2{
    color: white;
    text-align: center;
    padding-top: 15px;
    font-size: $titulo;
  }
    p{
    color: gray;
    text-align: center;
    font-size: $parrafo;
  }
}
  
  /* Footer equipo */
  
  .footerEquipo{
    @include flexbox(flex, column, center);
    color: white;
    background-color: #161515;
    padding-top: 20px;
    padding-bottom: 20px;
  
    h2{
      @include flexbox(flex, row, flex-start);
      padding: 0px 0px 15px 20px;
      font-size: $titulo;
      width: 70%;
  }
    p{
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    font-size: $parrafo;
  }
}
  
  .apiEquipo{
    background-color: #161515;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  
    h2{
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
    margin-bottom: 15px;
    font-size: $titulo;
  }
    ul{
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
    font-size: $parrafo;
  }
}

/* Media Queries */

  /* Media Queries para pagina producto */
  @media screen and (max-width:991px){
    .logoEquipo{
      @include flexbox(flex, row, center);
    }
  }

@media screen and (max-width:768px){

  .apiEquipo{
    h2{
    padding-left: 20px;
  }
    ul{
    padding-left: 20px;
  }
  } 
}

@media screen and (max-width:575px){
  .navbar{
    display: flex;
    background-color: #222121;
  }

  .navbar-toggler{
    border-color: white;
  }

  .navbar-toggler-icon{
    color: white !important;
  }

  .navbar-nav a{
    color: white;
  }

  .navbar-nav li{
    text-align: center;
  }

  .navbar-collapse {
    position: absolute;
    top: 114px;
    right: 0;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background-color: #222121;
    width: 100vw;
  }

  .headerEquipo ul{
    display: none;
  }
}